@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 16px;
}

#title {
  margin-top: 10px;
  text-align: center;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin: 10px auto;
  width: 375px;
  height: 375px;
}

#message-container {
  height: 40px;
  width: 100%;
}

.message {
  text-align: center;
  font-size: 1.5rem;
}

.square {
  width: 120px;
  height: 120px;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  background-color: #f5f5f5;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:hover {
  background-color: #a3a3a3;
  cursor: pointer;
}

#restart-btn {
  display: block;
  margin: 0 auto;
  height: 40px;
  width: 150px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
  font-size: 18px;
  transition: transform 0.15s ease-out;
}

#restart-btn:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

#restartButton:active {
  transform: scale(0.97);
}
